## Python

### Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### C extensions
*.so

### Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

### PyInstaller
*.manifest
*.spec

### Installer logs
pip-log.txt
pip-delete-this-directory.txt

### Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

### Translations
*.mo
*.pot

### Sphinx documentation
docs/_build/

### PyBuilder
.pybuilder/
target/

### PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

### Jupyter Notebook
.ipynb_checkpoints

### Environments
.env
.venv
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

### mkdocs documentation
/site

### mypy
.mypy_cache/
.dmypy.json
dmypy.json

### Pyre type checker
.pyre/

### pytype static type analyzer
.pytype/

### Cython debug symbols
cython_debug/

## PyCharm
.idea/

## VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

## Windows
### Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

### Dump file
*.stackdump

### Folder config file
[Dd]esktop.ini

### Recycle Bin used on file shares
$RECYCLE.BIN/

### Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

### Windows shortcuts
*.lnk

## macOS
### General
.DS_Store
.AppleDouble
.LSOverride

### Icon must end with two \r
Icon


### Thumbnails
._*

### Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

## Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
